.carousel-inner{
	width:100%;
	max-height: 100%;
}

.carousel-content{
	margin-top: 100px !important;
}

.item{
	height: 575px !important;
}

.second-navbar{
  top:45px;
  height:80px;
}

.top-pad{
  padding-top:125px;
  margin-bottom: -50px;
}

.section-pad{
  padding-top: 125px;
  margin-bottom: -100px;
}

.pipes {
  color:white;
  margin-top:6px;
}
